<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="d2ed047b-742d-4c1e-ba58-78b0f90504b7" wadlVersion="http://wadl.dev.java.net/2009/02" name="http://15.114.89.3:8443/Use Case 1" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="d2ed047b-742d-4c1e-ba58-78b0f90504b7fileName">http%3A%2F%2F15.114.89.3%3A8443%2FUse-Case-1</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://15.114.89.3:8443</con:endpoint></con:endpoints></con:interface>