<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="aecb7a0a-20b9-44be-9702-944c9a89eaa4" wadlVersion="http://wadl.dev.java.net/2009/02" name="https://15.114.89.3:8443 Execute Flow using UUID" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="aecb7a0a-20b9-44be-9702-944c9a89eaa4fileName">https%3A%2F%2F15.114.89.3%3A8443-Execute-Flow-using-UUID</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://RAWATANK5:8080/</con:endpoint><con:endpoint>https://15.114.89.3:8443</con:endpoint></con:endpoints></con:interface>