<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="7e068f55-8e1c-4370-94ed-ee329fb52631" wadlVersion="http://wadl.dev.java.net/2009/02" name="https://15.114.89.3:8443" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="7e068f55-8e1c-4370-94ed-ee329fb52631fileName">https%3A%2F%2F15.114.89.3%3A8443</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>https://15.114.89.3:8443</con:endpoint></con:endpoints></con:interface>